<br style=“line-height:10;”>
<center>
<h1> Please select number of players<h1>
<h2>&nbsp;</h2>
<form >
    <input type="button" onclick="window.location.href ='./singleplayer';" value="One player" />
    <input type="button" onclick="window.location.href ='./multiplayer';" value="Two players" />
</form>

</center>
