<br style=“line-height:10;”>
<center>
<h1>Welcome to Rock, Paper and Scissors game</h1>

<h2>&nbsp;</h2>

<form >
    <input type="button" onclick="window.location.href ='./game';" value="Enter Game" />
</form>
</center>
