<br style=“line-height:10;”>
<center>
<h1>Players, please add your names!</h1>
<h2>&nbsp;</h2>
<form action="/multiplayer" method="post">
  <label for="player1">
    Player one:
    <input type="text" name="player1">
  </label>
  <label for="player2">
    Player two:
    <input type="text" name="player2">
    <input type="submit" value="Enter Name!">
  </label>
</form>
</center>
