<br style=“line-height:10;”>
<center>
<h1>Please add your name</h1>
<h2>&nbsp;</h2>
<form action="/singleplayer" method="post">
  <label for="player1">
    Player one:
    <input type="text" name="player1">
    <input type="submit" value="Enter Name">
  </label>
</form>
</center>
